<% layout("/layouts/boilerplate.ejs") %>
<body>
    
<div class="row">
    <div class="col-8  offset-2">
        <br><br>
        <h2>Create New listing</h2>
    <form method="post" action="/listing" novalidate  class="needs-validation" >
        <div class="mb-3">

            <label for="title" class="form-label">Title</label>
        <input name="listing[title]" placeholder="Enter your Title here" type="text" class="form-control" required>
         <div class="valid-feedback"> Good title</div>
         <div class="invalid-feedback">Dude Enter Title</div>
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]" placeholder="Enter your description here" type="text"  class="form-control" required></textarea>
            <div class="invalid-feedback">Enter Valid short description</div>
        </div>
        
         <div class="mb-3">
            <label for="image" class="form-label">Enter the image link here</label>
            <input name="listing[image]" placeholder=" Enter your image url/link" type="text" class="form-control" ><br>
         </div>
        
        <div class="row">
            <div class="mb-3 col-md-8">
                <label for="country" class="form-label">Country</label>
                <input name="listing[country]" placeholder="Enter your country" type="text" class="form-control" required>
                <div class="invalid-feedback">Country should be valid</div>
            </div>
    
            <div class="mb-3 col-md-4">
                <label for="price" class="form-label">Price</label>
                <input name="listing[price]" placeholder="Enter your price here"   class="form-control" required>
               <div class="invalid-feedback">Please Enter Valid Price</div>
            </div>
        </div>
         
         <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input name="listing[location]" placeholder="Enter your  place here" type="text"  class="form-control" required>
            <div class="invalid-feedback">Location shld be Valid</div>
        </div>
        
        
         
       
       <div>
        <button class="btn btn-dark btn-col">add</button>
       </div>
       <br>

    </form>
    </div>
</div>
    
</body>
